@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Manrope:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --breakpoint-xs: 430px;

  /* This mapping creates the 'bg-primary_color' utility */
  --color-primary_color: var(--primary_color);
  --color-secondary_color: var(--secondary_color);
  --color-tertiary_color: var(--tertiary_color);
  --color-neutral_color: var(--neutral_color);
  --color-header_color: var(--header_color);
  --color-text_color: var(--text_color);
  --color-text_muted_color: var(--text_muted-color);
  --color-comp_bg: var(--comp-bg);
  --color-ele_bg: var(--ele-bg);
  --color-atom_bg: var(--atom-bg);

  --color-header_text_color: var(--header_text_color);
  --color-card_text_color: var(--card_text_color);

  --color-special_comp_bg: var(--special_comp_bg);
}

:root {
  /* --primary_color: hsl(0, 78%, 52%); */
  /* --primary_color: hsl(240.42, 61.02%, 40.27%); */
  --primary_color: #002e6a;
  --secondary_color: hsl(240, 6%, 10%);
  --tertiary_color: hsl(271, 91%, 65%);
  --neutral_color: hsl(240, 6%, 10%);

  --header_color: hsl(272.59, 100%, 15.88%);
  --header_text_color: hsl(0, 0%, 90%);

  --text_color: hsl(0, 0%, 90%);
  --card_text_color: hsl(0, 0%, 20%);

  --primary_btn_color: hsl(3.31, 100%, 64.51%);
  --secondary_btn_color: hsl(270, 1.67%, 47.06%);
  --text_muted_color: hsl(276, 4.5%, 22.24%);

  --comp-bg: hsl(0, 0%, 6%);
  --ele-bg: hsl(0, 0%, 10%);
  --atom-bg: hsl(0, 0%, 20%);
  /* --ele-bg: #6177a5; */

  --special_comp_bg: #6177a5;
}

.dark {
  /* --primary_color: hsl(0, 78%, 48%); */
  /* --primary_color: hsl(240.42, 61.02%, 82.27%); */
  --secondary_color: hsl(240, 6%, 90%);
  --tertiary_color: hsl(271, 91%, 35%);
  --neutral_color: hsl(240, 6%, 90%);

  /* --header_color: hsl(272.59, 100%, 85.12%);
  --header_text_color: hsl(0, 0%, 90%); */

  --text_color: hsl(0, 0%, 0%);
  --card_text_color: hsl(0, 0%, 90%);

  --primary_btn_color: hsl(3.31, 100%, 35.51%);
  --secondary_btn_color: hsl(270, 1.67%, 53.06%);
  --text_muted_color: hsl(276, 4.5%, 78.24%);

  --comp-bg: hsl(0, 0%, 95%);
  --ele-bg: hsl(0, 0%, 90%);
  /* --ele-bg: #6177a5; */
  --atom-bg: hsl(0, 0%, 80%);
  --special_comp_bg: #6177a5;
}

@layer utilities {
  /* This creates a custom utility class */
  .scrollbar-custom::-webkit-scrollbar {
    width: 4px; /* Very thin width */
    height: 4px; /* Very thin height for horizontal scroll */
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent; /* Makes the track invisible */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: var(--color-tertiary_color); /* Use your HSL variable */
    border-radius: 10px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary_color); /* Darker on hover */
  }
}

html {
  scroll-behavior: smooth;
}

.primary_btn {
  background-color: var(--primary_btn_color);
  color: var(--text_color);
  padding: 0.5rem;
  border-radius: 6%;
  font-weight: 900;
  cursor: pointer;
  /* font-size: small; */
}

.secondary_btn {
  background-color: var(--secondary_btn_color);
  color: var(--text_color);
  padding: 0.5rem;
  border-radius: 6%;
  font-weight: 900;
  /* font-size: small; */
}

.doodle_pattern {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #444cf7 0,
    #444cf7 1px,
    #e5e5f7 0,
    #e5e5f7 50%
  );
}

.card_hover {
  cursor: pointer;
  transform: scale(1);

  /* duration | timing-function */
  transition: transform 0.3s ease-out;
}

.card_hover:hover {
  transform: scale(1.05);
}
